.collection-container {
    display: flex;
    height: 470px;
}
.collection-left-container {
    width: 50%;
    text-align: left;
    position: relative;
    top: 15%;
}
.collection-right-container {
    width: 50%;
}

.collection-right-container img {
    width: 50%;
}
.collection-container h1 {
    font-weight: normal;
}
.collection-container h4 {
    font-weight: normal;
}
.btn-shopnow {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
}
.btn-shopnow img {
    width: 15%;
    margin-right: 2px;
}
.btn-class {
    margin-top: 8%;
}